.App {
    width: 100vw;
    height: 100vh;
}

#Menu {
    width: 100%;
    height: 10%;
    background-color: white;
    position: relative;
}

#Menu:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: 0 3px 6px rgb(56, 56, 56);
}

#TickerInputBox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#TickerInput {
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 48px;
    padding: 0.4% 0.5% 0.4% 42px;
    box-shadow: 0 0 2px black;
    background-color: white;
    background-image: url('./images/search.png');
    background-repeat: no-repeat;
    background-position: 6%;
    background-size: 18px 18px;
}

#TickerInput:focus {
    outline: none;
    box-shadow: 0 0 6px rgb(56, 56, 56);
}

#Button {
  margin-left: 14px;
  padding: 2px 9px 2px 9px;
  font-size: 22px;
  color: black;
  background-color: rgb(216, 223, 233);
  border-radius: 48px;
  cursor: pointer;
  border: solid 2px rgb(63, 63, 63);
}

#Button:hover {
  color: white;
  background-color: rgb(63, 63, 63);
}

#TickerInput, #Button, .Ticker, .CloseButton {
  -o-transition:.1s;
  -ms-transition:.1s;
  -moz-transition:.1s;
  -webkit-transition:.1s;
  transition:.1s;
}

.Ticker {
  background-image: linear-gradient(rgb(216, 223, 233), white 60%);
  border: solid 1px black;
  box-shadow: 3px 3px 6px rgb(56, 56, 56);
  width: fit-content; 
  float: left;
  cursor: pointer;
}

.Ticker:hover {
  background-image: linear-gradient(rgb(181, 242, 250), white);;
}

.TickerDataBox {
  padding: 8px 10px 8px 18px;
  float: left;
  font-size: 28px;
}

.TickerDataBox p {
  margin: 0;
  padding: 0;
}

.CloseButton {
  margin: -4px 0 0 0;
  padding: 0 8px 0 0;
  color: rgb(128, 128, 128);
  cursor: pointer;
  float: right;
  font-size: 28px;
}

.CloseButton:hover {
  color: red;
}
